/* TIMELINE POSTS */
.timeline-table {
    border: 1px solid black;
    width: 100%;
}

th, td {
    align-content: center;
    width: 25%;
    border: 1px solid black;
}

td input {
    width: 100%;
}

input:invalid:required {
    background-color: lightcoral;
} 
/**********/