{% extends 'index.html' %}

{% block css_link %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}

{% block content %}
<body>
    <div class="letters">
        <span style="--i:1">T</span>
        <span style="--i:2">A</span>
        <span style="--i:3">L</span>
        <span style="--i:4">I</span>
        <span style="--i:5">K</span>
        <span style="--i:6">E</span>
    </div>

    <br>

    <div class="tabs">
        <a class="button-1" href="{{ url_for('views.fellowship') }}">Fellowship Experience</a>
        <a class="button-2" href="{{ url_for('views.about_me') }}">About Me</a>
        <a class="button-3" href="{{ url_for('views.contact') }}">Contact</a>
        <a class="button-4" href="{{ url_for('views.timeline') }}">Posts</a>
    </div>
</body>
{% endblock %}