{% extends 'info_page.html' %}

{% block page %}
<section class="intro">
    <!-- TODO: Add Pod number -->
    <h2 class="section-title">Introduction</h2>
    <p>
        Welcome to my portfolio! My name is Talike (pronounced tah-leek) and I am a 
        Production Engineering Fellow (Pod 22.SUM.15) in the MLH Fellowship for summer 2022. This 
        website serves as the home of all the information I have soaked in while taking part in the
        fellowship. Each week focused on a different concept and with every concept, this
        website continued to grow. Feel free to look around, get an idea of what was
        covered during the fellowship, and learn a little bit more about me!
    </p>
</section>

<hr/>

<!-- WEEK 1 -->
<section class="week-info">
    <h2 class="section-title">Week 1: Orientation</h2>
    <p>
        During this week, we learned about the overall flow of the fellowship,
        got an introduction to production engineering, and established the
        foundation of our portfolio websites.
    </p>
    <br/>
    <h3>Concepts Learned</h3>
    <ul>
        <li>production engineering fundamentals</li>
        <li>development environments</li>
        <li>packages + package managers</li>
        <li>pair coding + code review</li>
    </ul>
    <br/>
    <h3>Tools Used</h3>
    <ul>
        <li>Python (.py) + Flask + Jinja</li>
        <li>HTML (.html)</li>
        <li>CSS (.css)</li>
        <li>Git + GitHub</li>
    </ul>
</section>

<hr/>

<!-- WEEK 2 -->
<section class="week-info">
    <h2 class="section-title">Week 2: Linux Fundamentals</h2>
    <p>
        During this week, we were introduced to Linux, evaluated its importance
        to production engineers, and set up our virtual private servers.
    </p>
    <br/>
    <h3>Concepts Learned</h3>
    <ul>
        <li>giving and receiving feedback</li>
        <li>Linux commands + filesystem + terminal</li>
        <li>virtual private server (VPS)</li>
        <li>SSH authentication</li>
        <li>website domain</li>
        <li>CTCI: Arrays</li>
    </ul>
    <br/>
    <h3>Tools Used</h3>
    <ul>
        <li>DigitalOcean</li>
        <li>DuckDNS</li>
        <li>tmux</li>
    </ul>
</section>

<hr/>

<!-- WEEK 3 -->
<section class="week-info">
    <h2 class="section-title">Week 3: Scripting</h2>
    <p>
        During this week, we went in depth with Bash scripting,
        learned about processes and signals, and created a script
        to automate the deployment of our websites.
    </p>
    <br/>
    <h3>Concepts Learned</h3>
    <ul>
        <li>scripting</li>
        <li>deployment automation</li>
        <li>programs + processes + signals</li>
        <li>CTCI: String Manipulation + Regex</li>
    </ul>
    <br/>
    <h3>Tools Used</h3>
    <ul>
        <li>Bash (.sh)</li>
    </ul>
</section>

<hr/>

<!-- WEEK 4 -->
<section class="week-info">
    <h2 class="section-title">Week 4: Services + Databases</h2>
    <p>
        During this week, we were introduced to databases and HTTP requests, and
        we combined these two concepts in order to establish a database for our
        websites that we can interact with.
    </p>
    <br/>
    <h3>Concepts Learned</h3>
    <ul>
        <li>types of databases + database importance + database mappings</li>
        <li>services</li>
        <li>HTTP requests</li>
        <li>caching</li>
        <li>CTCI: File Handling</li>
    </ul>
    <br/>
    <h3>Tools Used</h3>
    <ul>
        <li>MySQL + peewee + environment variables (.env)</li>
        <li>JavaScript</li>
        <li>Postman</li>
        <li>services (.service)</li>
    </ul>
</section>

<hr/>

<!-- WEEK 5 -->
<section class="week-info">
    <h2 class="section-title">Week 5: Testing</h2>
    <p>
        During this week, we explored the importance of testing, took
        part in mock interviews, and worked with members of our Pod to
        create tests for our website.
    </p>
    <br/>
    <h3>Concepts Learned</h3>
    <ul>
        <li>benefits of testing + types of tests</li>
        <li>test driven development (TDD)</li>
        <li>groups + file permissions</li>
        <li>CTCI: Linked Lists</li>
    </ul>
    <br/>
    <h3>Tools Used</h3>
    <ul>
        <li>Python + unittest</li>
    </ul>
</section>

<hr/>

<!-- WEEK 6 -->
<section class="week-info">
    <h2 class="section-title">Week 6: Containers</h2>
    <p>
        During this week, we used Docker containers to make it
        easier to deploy our websites, used YAML to configure the
        containers, and reflected on our first mock interviews.
    <br/>
    <h3>Concepts Learned</h3>
    <ul>
        <li>containers + Docker</li>
        <li>user accounts</li>
        <li>CTCI: Stacks and Queues</li>
    </ul>
    <br/>
    <h3>Tools Used</h3>
    <ul>
        <li>Docker (Desktop + Engine)</li>
        <li>YAML (.yml)</li>
        <li>NGINX</li>
    </ul>
</section>

<hr/>

<!-- WEEK 7 -->
<section class="week-info">
    <h2 class="section-title">Week 7: Interview Practices</h2>
    <p>
        This week served as a buffer week, so we were
        given the opportunity to catch up on assignments that
        we were missed or did not do well on.
    <br/>
    <h3>Concepts Learned</h3>
    <ul>
        <li>CTCI: Trees</li>
    </ul>
    <br/>
    <h3>Tools Used</h3>
    <p>N/A</p>
</section>

<hr/>

<!-- WEEK 8 -->
<section class="week-info">
    <h2 class="section-title">Week 8: Continuous Integration</h2>
    <p>
        During this week, we learned about continuous integration
        and continous development and made use of GitHub
        Actions to apply CI/CD.
    <br/>
    <h3>Concepts Learned</h3>
    <ul>
        <li>continous integration and continous development (CI/CD)</li>
        <li>CTCI: Heaps</li>
    </ul>
    <br/>
    <h3>Tools Used</h3>
    <ul>
        <li>GitHub Actions + YAML (.yml)</li>
    </ul>
</section>

<hr/>

<!-- WEEK 9 -->
<section class="week-info">
    <h2 class="section-title">Week 9: Monitoring + Networking</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        ...

        TOOLS USED
        ...
    -->
</section>

<hr/>

<!-- WEEK 10 -->
<section class="week-info">
    <h2 class="section-title">Week 10: Troubleshooting</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        ...

        TOOLS USED
        ...
    -->
</section>

<hr/>

<!-- WEEK 11 -->
<section class="week-info">
    <h2 class="section-title">Week 11: Interview Practice</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        ...

        TOOLS USED
        ...
    -->
</section>

<hr/>

<!-- WEEK 12 -->
<section class="week-info">
    <h2 class="section-title">Week 12: Capture the Flag</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        ...

        TOOLS USED
        ...
    -->
</section>
{% endblock %}